function Screen.init 0
push constant 0
pop static 1
push constant 15
call Array.new 1
pop static 2
push static 2
push constant 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 2
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 3
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 4
add
push constant 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 5
add
push constant 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 6
add
push constant 64
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 7
add
push constant 128
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 8
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 9
add
push constant 512
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 10
add
push constant 1024
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 11
add
push constant 2048
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 12
add
push constant 4096
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 13
add
push constant 8192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 14
add
push constant 16384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 15
add
push constant 0
push constant 16384
sub
push constant 16384
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
neg
pop static 0
push constant 0
return
function Screen.clearScreen 1
push constant 16384
pop local 0
label Screen.loopStart.0
push local 0
push constant 24576
lt
not
if-goto Screen.loopEnd.0
push static 1
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto Screen.loopStart.0
label Screen.loopEnd.0
push constant 0
return
function Screen.setColor 1
push argument 0
pop static 0
push constant 0
return
function Screen.drawPixel 5
push constant 32
push argument 1
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push constant 16384
push local 0
add
call Memory.peek 1
pop local 1
push argument 0
push constant 16
lt
not
if-goto Screen.if.1
push argument 0
pop local 2
goto Screen.else.1
label Screen.if.1
label Screen.loopStart.2
push argument 0
push constant 16
gt
not
if-goto Screen.loopEnd.2
push argument 0
push constant 16
sub
pop argument 0
goto Screen.loopStart.2
label Screen.loopEnd.2
push argument 0
pop local 2
label Screen.else.1
push static 0
not
if-goto Screen.if.3
push local 1
push static 2
push local 2
add
pop pointer 1
push that 0
or
pop local 1
goto Screen.else.3
label Screen.if.3
push local 1
push static 2
push local 2
add
pop pointer 1
push that 0
and
pop local 1
label Screen.else.3
push constant 16384
push local 0
add
push local 1
call Memory.poke 2
pop temp 0
push constant 0
return
function Screen.drawLine 9
push constant 0
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push argument 3
push argument 1
sub
pop local 3
push argument 2
push argument 0
sub
pop local 4
push local 3
push constant 0
eq
not
if-goto Screen.if.4
label Screen.loopStart.5
push local 0
push local 4
lt
not
if-goto Screen.loopEnd.5
push argument 0
push local 0
add
push argument 1
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto Screen.loopStart.5
label Screen.loopEnd.5
push constant 0
return
goto Screen.else.4
label Screen.if.4
label Screen.else.4
push local 4
push constant 0
eq
not
if-goto Screen.if.6
label Screen.loopStart.7
push local 1
push local 3
lt
not
if-goto Screen.loopEnd.7
push argument 0
push argument 1
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto Screen.loopStart.7
label Screen.loopEnd.7
goto Screen.else.6
label Screen.if.6
label Screen.else.6
push local 4
push constant 0
gt
push local 3
push constant 0
gt
and
not
if-goto Screen.if.8
label Screen.loopStart.9
push local 0
push local 4
lt
push local 0
push local 4
eq
or
push local 1
push local 3
lt
push local 1
push local 3
eq
or
and
not
if-goto Screen.loopEnd.9
push argument 0
push local 0
add
push argument 1
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 0
lt
not
if-goto Screen.if.10
push local 0
push constant 1
add
pop local 0
push local 2
push local 3
add
pop local 2
goto Screen.else.10
label Screen.if.10
push local 1
push constant 1
add
pop local 1
push local 2
push local 4
sub
pop local 2
label Screen.else.10
goto Screen.loopStart.9
label Screen.loopEnd.9
push constant 0
return
goto Screen.else.8
label Screen.if.8
label Screen.else.8
push local 4
push constant 0
gt
push local 3
push constant 0
lt
and
not
if-goto Screen.if.11
label Screen.loopStart.12
push local 0
push local 4
lt
push local 0
push local 4
eq
or
push local 1
push local 3
gt
push local 1
push local 3
eq
or
and
not
if-goto Screen.loopEnd.12
push argument 0
push local 0
add
push argument 1
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 0
lt
not
if-goto Screen.if.13
push local 0
push constant 1
add
pop local 0
push local 2
push local 3
sub
pop local 2
goto Screen.else.13
label Screen.if.13
push local 1
push constant 1
sub
pop local 1
push local 2
push local 4
sub
pop local 2
label Screen.else.13
goto Screen.loopStart.12
label Screen.loopEnd.12
push constant 0
return
goto Screen.else.11
label Screen.if.11
label Screen.else.11
push local 4
push constant 0
lt
push local 3
push constant 0
lt
and
not
if-goto Screen.if.14
label Screen.loopStart.15
push local 0
push local 4
gt
push local 0
push local 4
eq
or
push local 1
push local 3
gt
push local 1
push local 3
eq
or
and
not
if-goto Screen.loopEnd.15
push argument 0
push local 0
add
push argument 1
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 0
lt
not
if-goto Screen.if.16
push local 0
push constant 1
sub
pop local 0
push local 2
push local 3
sub
pop local 2
goto Screen.else.16
label Screen.if.16
push local 1
push constant 1
sub
pop local 1
push local 2
push local 4
add
pop local 2
label Screen.else.16
goto Screen.loopStart.15
label Screen.loopEnd.15
push constant 0
return
goto Screen.else.14
label Screen.if.14
label Screen.else.14
push local 4
push constant 0
lt
push local 3
push constant 0
gt
and
not
if-goto Screen.if.17
label Screen.loopStart.18
push local 0
push local 4
gt
push local 0
push local 4
eq
or
push local 1
push local 3
lt
push local 1
push local 3
eq
or
and
not
if-goto Screen.loopEnd.18
push argument 0
push local 0
add
push argument 1
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 0
lt
not
if-goto Screen.if.19
push local 0
push constant 1
sub
pop local 0
push local 2
push local 3
add
pop local 2
goto Screen.else.19
label Screen.if.19
push local 1
push constant 1
sub
pop local 1
push local 2
push local 4
add
pop local 2
label Screen.else.19
goto Screen.loopStart.18
label Screen.loopEnd.18
push constant 0
return
goto Screen.else.17
label Screen.if.17
label Screen.else.17
push constant 0
return
function Screen.drawRectangle 5
push argument 1
pop local 0
label Screen.loopStart.20
push local 0
push argument 3
lt
not
if-goto Screen.loopEnd.20
push argument 0
push local 0
push argument 2
push local 0
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto Screen.loopStart.20
label Screen.loopEnd.20
push constant 0
return
function Screen.drawCircle 5
push argument 2
push argument 2
sub
push argument 2
sub
pop local 0
label Screen.loopStart.21
push local 0
push argument 2
lt
not
if-goto Screen.loopEnd.21
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 1
push local 0
sub
push argument 0
push local 1
add
push argument 1
push local 0
sub
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto Screen.loopStart.21
label Screen.loopEnd.21
push constant 0
return
